
.bin__table {
    text-align: center;
    &-title {
        font-weight: bold;
    }
    &-sstitle {
        font-style: italic;
        color: $color2;
    }
    &-input input {
        width: 30px;
        text-align: center;
    }
}
.dec {
    & input {
        text-align: center;
        width: 40px;
    }
}