.chap {
    margin: 20px 0 0 0;
    &__titre {
        font: small-caps bold 1.5em sans-serif;
        margin: 5px 10px 20px 10px;
        border-bottom: 1px solid;
        & i {
            color: $color1;
        }
    }
    &__contenu {
        & form {
            display: flex;
            align-items: center;
        }
        &__bin {
            text-align: center;
            margin-left: 50px;
            &-title {
                font-weight: bold;
            }
            &-sstitle {
                font-style: italic;
                color: $color2;
            }
            &-output {
                margin-left: 50px;
                & b{
                    color: $color3;
                    font-size: larger;
                    border: 1px solid $color3;
                    background-color: $color1;
                    border-radius: 6px;
                    padding: 5px 15px 5px 15px;
                }
            }
            &-input input {
                text-align: center;
                width: 30px;
            }
        }
        &__dec {
            margin-left: 50px;
            &-output {
                margin-left: 50px;
                & b{
                    color: $color3;
                    font-size: larger;
                    border: 1px solid $color3;
                    background-color: $color1;
                    border-radius: 6px;
                    padding: 5px 15px 5px 15px;
                }
            }& input {
                text-align: center;
                width: 40px;
            }
        }
    }
}